/* Global */
:root {
	--main-color: #19c8fa;
	--main-color-transparent: #19c8fa99;
	--black-color-transparent: #00000080;
	--white-transparent: #b0acae;
	--section-padding: 60px;
	--transition-duration: 0.3s;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	overflow: overlay;
}
.container {
	margin: 0 auto;
	padding: 0 20px;
}
ul {
	list-style: none;
}
p {
	color: var(--white-transparent);
	line-height: 1.7em;
	font-size: 12px;
}
h3 {
	font-size: 17px;
}
h4 {
	font-size: 14px;
}
button {
	cursor: pointer;
	background-color: transparent;
	border: none;
}
a {
	text-decoration: none;
}
@media (min-width: 768px) {
	.container {
		max-width: 730px;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}
.overlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--black-color-transparent);
	width: 100%;
	height: 100%;
}
.heading {
	text-align: center;
}
.heading h2 {
	position: relative;
	font-weight: normal;
	font-size: 30px;
	padding-bottom: 20px;
	margin-bottom: 25px;
	text-transform: uppercase;
}
.heading h2::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 105px;
	height: 1.5px;
	background-color: #000;
}
.heading h2::after {
	content: "";
	position: absolute;
	bottom: -6px;
	left: 50%;
	transform: translate(-50%);
	width: 13px;
	height: 13px;
	border: 1px solid #000;
	background-color: #fff;
	border-radius: 50%;
}
.heading p {
	max-width: 450px;
	margin: 0 auto 75px;
}
@media (max-width: 767px) {
	.heading h2 {
		font-size: 22px;
	}
}
::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	background-color: #888;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
/* End Global */

/* Navbar */
nav {
	position: absolute;
	padding-top: 15px;
	background-color: transparent;
	width: 90%;
	left: 50%;
	z-index: 1;
	max-height: 95px;
	border-bottom: 1px solid #fff;
	transform: translateX(-50%);
}
nav .container {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .menu {
	display: none;
	cursor: pointer;
	padding: 24px 15px;
}
nav .logo img {
	width: 110px;
}
nav .links {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav .links ul {
	display: flex;
	flex-flow: row wrap;
}
nav .links ul li {
	margin-top: -2px;
}
nav .links ul li a {
	color: #fff;
	font-size: 11px;
	padding: 0 15px 24px;
	transition: var(--transition-duration);
	text-transform: uppercase;
	margin-top: 10px;
}
nav .links ul li a.active,
nav .links ul li a:hover {
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
}
nav .links .search {
	width: 43px;
	height: 43px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px 0;
	border-left: 1px solid #fff;
	cursor: pointer;
}
nav .links.search i {
	font-size: 13px;
}
@media (max-width: 850px) {
	nav {
		width: 100%;
	}
	nav .menu {
		display: inline-block;
	}
	nav .links ul {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		display: none;
		background-color: var(--black-color-transparent);
	}
	nav .links ul li {
		margin: 15px 0;
		padding: 0 15px;
	}
	nav .links ul li a {
		display: inline-block;
		width: 100%;
	}
	nav .logo img {
		width: 100px;
	}
	nav .links .search {
		display: none;
	}
}
/* End Navbar */

/* Header */
header {
	height: 100vh;
	color: #fff;
}
header .slider {
	position: relative;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}
header .slider img {
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
header .slider img.active {
	display: block;
}
header .text {
	position: absolute;
	background-color: var(--main-color-transparent);
	width: 50%;
	height: 230px;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	padding: 35px;
	padding-left: 20%;
}
header .text h1 {
	margin-bottom: 13px;
	font-size: 17px;
	font-weight: 500;
	line-height: 2em;
}
header .text p {
	line-height: 1.7em;
	font-size: 10px;
}
header button {
	color: inherit;
	position: absolute;
	padding: 15px;
	font-size: 25px;
	top: 50%;
	transform: translateY(-50%);
}
header button:hover {
	background-color: var(--white-transparent);
}
header button.left {
	left: 0;
}
header button.right {
	right: 0;
}
header .bullet {
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: flex;
	flex-flow: row wrap;
}
header .bullet span {
	cursor: pointer;
	width: 15px;
	height: 15px;
	border: 1px solid #fff;
	border-radius: 50%;
	margin: 3px;
	transition: var(--transition-duration);
}
header .bullet span.active,
header .bullet span:hover {
	border: none;
	background-color: var(--main-color);
}
@media (max-width: 991px) {
	header .text {
		width: 100%;
		padding: 40px;
	}
	header .text h1 {
		font-size: 14px;
	}
	header .text p {
		font-size: 9px;
	}
}
/* End Header */

/* Services */
.services {
	padding: var(--section-padding);
}
@media (min-width: 539px) {
	.services .content {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		gap: 40px 80px;
	}
}
.services .content .serv {
	display: flex;
	margin-bottom: 20px;
}
.services .content .serv i {
	font-size: 35px;
	margin-right: 40px;
}
.services .content .serv .text h3 {
	color: var(--main-color);
	font-weight: 400;
	margin-bottom: 15px;
}
@media (max-width: 539px) {
	.services .content .serv {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 40px;
	}
	.services .content .serv .text {
		width: 100%;
	}
	.services .content .serv i {
		margin: 0 0 20px;
	}
}
/* Caption */
.services-caption {
	height: 350px;
	background-image: url(../imgs/backgrounds/services.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
}
.services-caption img {
	position: absolute;
	bottom: -50px;
	height: 300px;
	left: 20%;
}
.services-caption .text {
	background-color: var(--main-color-transparent);
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	padding: 30px 50px;
	width: 50%;
	color: #fff;
}
.services-caption .text h3 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 500;
}
.services-caption .text ul li {
	margin-bottom: 15px;
}
.services-caption .text ul li::before {
	content: "\f108";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	margin-right: 15px;
}
@media (max-width: 767px) {
	.services-caption img {
		display: none;
	}
	.services-caption .text {
		width: 100%;
	}
}
/* End Caption */
/* End Services */

/* Portfolio */
.portfolio {
	padding: var(--section-padding);
}
.portfolio .buttons {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.portfolio .buttons button {
	text-align: center;
	padding: 5px 12px;
	text-transform: uppercase;
	border-radius: 2px;
	transition: var(--transition-duration);
	margin: 0 5px;
}
.portfolio .buttons button.active,
.portfolio .buttons button:hover {
	color: #fff;
	background-color: var(--main-color);
}
.portfolio .imgs {
	margin-bottom: 20px;
	width: 100vw;
	margin-left: calc(-50vw + 50%);
}
.portfolio .imgs .image {
	position: relative;
	overflow: hidden;
	animation: scaling 0.7s;
	max-height: 300px;
}
.portfolio .imgs .image.hidden {
	display: none;
}
.portfolio .imgs .image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: var(--transition-duration);
}
.portfolio .imgs .image .caption {
	transition: var(--transition-duration);
	position: absolute;
	padding: 20px;
	background-color: #fff;
	text-transform: capitalize;
	width: 100%;
	bottom: -87px;
	height: 87px;
}
.portfolio .imgs .image:hover img {
	transform: rotate(5deg) scale(1.3);
}
.portfolio .imgs .image:hover .caption {
	bottom: 0;
}
.portfolio .imgs .image .caption h3 {
	font-weight: 400;
	margin-bottom: 7px;
}
.portfolio .imgs .image .caption p {
	color: var(--main-color);
}
.portfolio .special-button {
	color: #fff;
	background-color: var(--main-color);
	padding: 5px 22px;
	display: block;
	margin: 0 auto;
	text-transform: uppercase;
}
@media (min-width: 540px) {
	.portfolio .imgs {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
}
@keyframes scaling {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
/* Caption */
.portfolio-caption {
	position: relative;
}
.portfolio-caption video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 16 / 9;
}
.portfolio-caption .text {
	background-color: var(--main-color-transparent);
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	padding: 40px 0;
	text-align: center;
	color: white;
}
.portfolio-caption .text h3 {
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
}
.portfolio-caption .text p {
	margin-bottom: 35px;
	color: #fff;
}
.portfolio-caption .text button {
	background-color: #000;
	color: #fff;
	padding: 5px 25px;
	text-transform: uppercase;
	font-size: 14px;
}
@media (max-width: 400px) {
	.portfolio-caption .text {
		padding: 30px;
	}
	.portfolio-caption .text h3 {
		font-size: 14px;
		margin-bottom: 10px;
	}
	.portfolio-caption .text button {
		font-size: 10px;
	}
	.portfolio-caption .text p {
		margin-bottom: 20px;
	}
}
/* End Caption */
/* End Portfolio */

/* About */
.about {
	padding-top: var(--section-padding);
	overflow: hidden;
}
.about img {
	display: block;
	margin: 0 auto -50px;
	width: 70%;
}
@media (max-width: 767px) {
	.about img {
		margin-bottom: -25px;
	}
}
/* Caption */
.about-caption {
	background-image: url(../imgs/backgrounds/about.jpg);
	background-attachment: fixed;
	background-size: cover;
	padding: var(--section-padding) 0;
	position: relative;
}
.about-caption .container {
	background-color: var(--main-color-transparent);
	display: flex;
	flex-wrap: wrap;
	padding: 30px 0 10px;
	width: 70%;
	text-align: center;
	color: #fff;
	position: relative;
}
.about-caption .static {
	flex-basis: 25%;
	margin-bottom: 20px;
}
.about-caption .static i {
	font-size: 15px;
	background-color: black;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin: 0 auto 20px;
}
.about-caption .static h4 {
	font-size: 40px;
}
.about-caption .static p {
	color: #fff;
}
@media (max-width: 767px) {
	.about-caption .static {
		flex-basis: 50%;
	}
}
@media (max-width: 540px) {
	.about-caption .container {
		width: 90%;
	}
	.about-caption .static {
		flex-basis: 100%;
	}
}
/* End Caption */
/* End About */
/* Information */
.inform {
	padding: var(--section-padding) 0;
}
.inform .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.inform .container > div {
	margin: 0 auto 30px;
	flex-basis: 90%;
	text-align: center;
}
.inform .container > div > h3 {
	font-weight: 400;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.inform .container > div > p {
	margin: 0 auto 50px;
}
.inform .testimonials .user {
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	flex-direction: column;
}
.inform .testimonials .user img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 25px;
}
.inform .testimonials .user .text {
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	text-align: center;
}
.inform .testimonials .user .text p {
	color: #000;
}
.inform .testimonials .user .text span {
	font-size: 12px;
	position: absolute;
	color: var(--white-transparent);
	right: 0;
	font-style: italic;
}
.inform .skills .skill {
	margin-bottom: 25px;
}
.inform .skills .skill h4 {
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 5px;
}
.inform .skills .skill .progress {
	background-color: #eee;
	height: 25px;
}
.inform .skills .skill .progress span {
	background-color: var(--main-color);
	height: 100%;
	display: block;
	position: relative;
	animation: smooth-progress 1.5s;
}
.inform .skills .skill .progress span::before {
	content: attr(data-progress);
	position: absolute;
	background-color: #353235;
	color: #fff;
	padding: 5px 7px;
	border-radius: 3px;
	top: -32px;
	font-size: 12px;
	right: -16px;
}
.inform .skills .skill .progress span::after {
	content: "";
	position: absolute;
	border: 9px solid;
	border-color: #353235 transparent transparent;
	right: -8px;
	top: -11px;
}
@media (min-width: 991px) {
	.inform .container > div {
		flex-basis: 45%;
		margin-bottom: 0;
	}
	.inform .testimonials .user {
		flex-direction: row;
	}
	.inform .testimonials .user img {
		margin-bottom: 0;
		margin-right: 25px;
	}
	.inform .testimonials .user .text {
		text-align: left;
	}
}
@keyframes smooth-progress {
	from {
		width: 0%;
	}
}
/* End Information */
/* Information Caption */
.inform-caption {
	background-image: url(../imgs/backgrounds/testimonials.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.inform-caption .text {
	color: #fff;
	text-align: center;
	position: relative;
	width: 70%;
}
.inform-caption .text h2 {
	font-size: 17px;
	font-weight: 400;
	margin-bottom: 20px;
}
.inform-caption .text p {
	color: #fff;
}
/* End Information Caption */
/* End About */
/* Pricing */
.pricing {
	padding: var(--section-padding) 0;
}
.pricing .content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.pricing .content .plan {
	flex-basis: 22%;
	margin-bottom: var(--section-padding);
}
.pricing .content .plan > div {
	text-align: center;
}
.pricing .content .plan .title {
	border-top: 1px solid var(--main-color);
	border-bottom: 1px solid var(--main-color);
	padding: 25px 0;
}
.pricing .content .plan .title span {
	display: inline-block;
	font-size: 12px;
	margin-bottom: 10px;
}
.pricing .content .plan .title h3 {
	font-size: 35px;
}
.pricing .content .plan .title h3 sup,
.pricing .content .plan .title h3 sub {
	font-size: 15px;
}
.pricing .content .plan .title h3 sup {
	top: -2em;
}
.pricing .content .plan .specs {
	padding: 0 35px;
}
.pricing .content .plan .specs h4 {
	padding: 20px 0;
	border-bottom: 1px solid var(--main-color);
	font-weight: 400;
	font-size: 15px;
}
.pricing .content .plan button {
	display: block;
	margin: 40px auto 0;
	padding: 10px 20px;
	border: 1px solid var(--main-color);
	transition: .3s;
	text-transform: uppercase;
	font-size: 12px;
}
.pricing .content .plan button:hover {
	background-color: var(--main-color);
	color: #fff;
}
.pricing .container > h5 {
	text-align: center;
	margin-bottom: 20px;
	font-weight: 400;
}
.pricing .container > a {
	color: #fff;
	padding: 10px 20px;
	margin: 0 auto;
	display: block;
	width: 130px;
	background-color: var(--main-color);
	text-transform: uppercase;
	font-size: 14px;
}
@media (max-width: 991px) {
	.pricing .content .plan {
		flex-basis: 44%;
	}
}
@media (max-width: 540px) {
	.pricing .content .plan {
		flex-basis: 100%;
	}
}
/* Caption */
.pricing-caption {
	height: 250px;
	background-image: url(../imgs/backgrounds/pricing.jpg);
	background-size: cover;
	background-attachment: fixed;
	position: relative;
}
.pricing-caption .container {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	color: #fff;
	height: 100%;
}
.pricing-caption .email {
	display: flex;
	align-items: center;
	border: 1px solid #fff;
	width: 400px;
}
.pricing-caption .email i {
	position: relative;
	left: 20px;
}
.pricing-caption .email input {
	color: #fff;
}
.pricing-caption .email input[type="email"] {
	caret-color: var(--main-color);
	padding: 15px 0 15px 30px;
	width: calc(100% - 120px);
	background-color: transparent;
	font-size: 12px;
	border: none;
}
.pricing-caption .email input[type="email"]:focus {
	outline: none;
}
.pricing-caption .email input[type="submit"] {
	padding: 15px 0;
	background-color: var(--main-color);
	cursor: pointer;
	width: 120px;
	text-transform: uppercase;
	font-size: 12px;
	border: none;
}
.pricing-caption p {
	color: #fff;
	max-width: 500px;
}
@media (max-width: 991px) {
	.pricing-caption {
		height: 200px;
	}
	.pricing-caption .email {
		width: 80%;
		margin: 0 auto;
	}
	.pricing-caption p {
		text-align: center;
		margin: 0 auto;
	}
}
/* End Caption */
/* End Pricing */

/* Contact */
.contact {
	padding: var(--section-padding) 0;
}
.contact .content {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.contact .content form {
	width: 60%;
}
.contact .content form input:not([type="submit"]),
.contact .content form textarea {
	width: 100%;
	padding: 15px 20px;
	margin-bottom: 25px;
	text-transform: uppercase;
	caret-color: var(--main-color);
	font-size: 12px;
	border: 1px solid var(--black-color-transparent);
}
.contact .content form input:not([type="submit"]):focus,
.contact .content form textarea:focus {
	outline: none;
}
.contact .content form textarea {
	height: 170px;
	resize: vertical;
}
.contact .content form input[type="submit"] {
	padding: 15px 20px;
	text-transform: uppercase;
	display: flex;
	margin-left: auto;
	font-size: 12px;
	color: #fff;
	border: none;
	background-color: var(--main-color);
	cursor: pointer;
}
.contact .content .text {
	width: 30%;
}
.contact .content .text h4 {
	text-transform: uppercase;
	margin-bottom: 30px;
}
.contact .content .text address {
	margin-top: 60px;
}
.contact .content .text span {
	margin-bottom: 10px;
	display: block;
	font-size: 12px;
	color: var(--black-color-transparent);
}
@media (max-width: 767px) {
	.contact .content {
		flex-direction: column;
	}
	.contact .content .text {
		order: -1;
		text-align: center;
		margin: 0 auto 40px;
		width: 100%;
	}
	.contact .content form {
		width: 100%;
	}
}
/* End Contact */
/* Footer */
footer {
	background-image: url(../imgs/backgrounds/footer.jpg);
	background-attachment: fixed;
	background-size: cover;
	padding: var(--section-padding) 0;
	position: relative;
}
footer .container {
	text-align: center;
	color: #fff;
	position: relative;
}
footer .logo {
	display: inline-block;
	width: 100px;
	margin-bottom: 30px;
}
footer .logo img {
	width: 100%;
}
footer h4 {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 20px;
	position: relative;
	padding: 0 35px 15px;
	border-bottom: 1px solid #fff;
	width: 215px;
	margin: 0 auto;
}
footer .social {
	display: flex;
	width: 150px;
	justify-content: space-between;
	margin: 20px auto 40px;
}
footer .social a {
	color: #fff;
}
footer .copyright {
	color: #fff;
}
footer .copyright span a {
	color: var(--main-color);
}
/* End Footer */
